<h2><%= @trip.name %></h2>

<% @trip.trails.each do |trail| %>
  <p><%= trail.name %></p>
  <p><%= trail.address %></p>
  <p><%= trail.length %></p><br>
<% end %>

Total length: <%= @trip.total_length %>
Average distance: <%= @trip.avg_distance %>
Longest distance: <%= @trip.max_distance %>
Shortest distance: <%= @trip.min_distance %>
